$content-bg-color: #3e3642;

:root {
    overflow-x: hidden;
    box-sizing: border-box;
    image-rendering: pixelated;
    margin: 0;
    padding: 0;
}

body {
    font-family: Terminus, Helvetica, Arial, sans-serif;
    background: url('/img/backbackground.png');
    background-size: 128px;
    color: white;
    text-shadow: 1px 1px rgb(0, 0, 0);
    animation: bg_scroll 60s linear infinite;
}

hr {
    border: #4e4444 1px dashed;
}

button {
    background: linear-gradient(to bottom, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
    font-family: Terminus, Helvetica, Arial, sans-serif;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
    transition: 0.3s;

    &:hover {
        box-shadow: #29b8e5 0px 0px 5px;
        background: linear-gradient(to bottom, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);

        &:active {
            transition: 0.1s ease-out;
            background: linear-gradient(to bottom, #5c5c5c 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #616161 100%);
            box-shadow: inset 0px 0px 5px #424458;
        }
    }
}

blockquote {
    font-style: italic;
    background-color: #754e63;
    border-left: #b26870 1em groove;
    box-shadow: 4px 4px #08080871;
    padding: 0.1em 1em;

    img {
        image-rendering: optimizeQuality;
        height: 10em;
    }
}

a {
    color: #ffb18b;
    text-decoration: none;
    
    &:visited {
        color: #d87341;
    }

    &:hover {
        text-decoration: underline;
    }
}

/* Classes */

.container {
    width: 60em;
    margin: auto;
}

.clouds {
    margin: -0%;
    position: absolute;
    z-index: -1;
    background: url('/img/cloudbg.png');
    min-height: 800px;
    min-width: 150vw;
    background-size: 300vh;
    background-clip: 0%;
    animation: cloud_scroll 70s linear infinite;
}

.header {
    padding: 0.2em;
    margin: -10px;
    background: linear-gradient(90deg, #754e63, rgba(0, 0, 255, 0));
}


.main_window {
    background: linear-gradient(#644a4a93, rgba(2, 2, 2, 0.342)), url('/img/header-bg.png');
    box-shadow:
        inset 5px 5px 25px rgb(0, 0, 0),
        inset 5px -5px 15px rgb(0, 0, 0),
        inset 5px 5px 15px rgba(255, 255, 255, 0.548),
        0px 0px 25px rgb(0, 0, 0);
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(#3b3333, #080808) 27;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
    grid-template-rows: 1fr 1fr 1.5fr 37px;
    gap: 10px;
    grid-template-areas:
        "banner banner banner"
        "sidebar-left main-content main-content"
        "sidebar-left main-content main-content"
        "sidebar-left main-content main-content";
}

.goodie {
    padding: 0.7em;
    background: url('/img/scan dline-bg.png'), #111111;
}

@mixin base-content {
    padding: 10px;
    overflow-y: auto;
    border: double 3px #5f5f5f;
    border-radius: 5px;
    background: url('/img/scanline-bg.png'), $content-bg-color;
    box-shadow: 3px 3px 5px #080808;
    max-height: 481.75px;
    animation: scanline linear 30s infinite;
    scrollbar-width: thin;
}

.banner {
    grid-area: banner;
    padding: 10px;
    background-image: url('/img/banner-bg.png');
    background-position: center;
    background-size: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 3px 3px 5px #080808;

    img {
        margin-top: 3px;
        margin-left: 5px;
    }
}

.main-content {
    @include base-content;
    grid-area: main-content;

    & .fancy-bg {
        margin: -10px;
        background-image: url('/img/home-bg.png');
        background-repeat: no-repeat;
        padding: 0%;
        background-size: 100%;
        height: 320px
    }
}

.sidebar-left {
    @include base-content;
    grid-area: sidebar-left;

    button:hover {
        transition: 0.3s ease-out;
        transition: background-color 1s ease-in-out;
        transform: scale3d(1.1, 1.1, 0.3);
        padding-top: 3px;
        padding-bottom: 3px;
        box-shadow: #29b8e5 0px 0px 5px;
        background: linear-gradient(to bottom, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);

        &::before {
            content: '> ';
        }
    }

    button::before {
        content: '* ';
    }
}

.listening-to img {
    width: 100%;
}

.sidebar-right {
    @include base-content;
    grid-area: sidebar-right;
}

.buttons {
    @include base-content;
    padding: 0;
    grid-area: buttons;
    overflow: hidden;
}

.footer {
    grid-area: footer;
    padding: 10px;
    background-image: url('/img/background.png');
    background-size: 64px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 3px 3px 5px #080808;
}

/* Fonts */

@font-face {
    font-family: 'Helvetica Narrow';
    src: url('/fonts/narrow.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Terminus';
    src: url('/fonts/terminus.ttf');
    font-display: swap;
}

/* Animations */

@keyframes bg_scroll {
    100% {
        background-position: 100%;
    }
}

@keyframes scanline {
    100% {
        background-position-y: bottom;
    }
}

@keyframes cloud_scroll {
    100% {
        background-position-x: -300vh;
    }
}