<!DOCTYPE html>
<html>
    <head>
        <title>izz - {{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- opengraph -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="izz - {{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:url" content="https://izz.nekoweb.org/">
        <meta property="og:image" content="img/favicon.gif">
        <meta property="og:site_name" content="izz">
        <!-- opengraph -->

        <link rel="icon" type="image/gif" href="img/favicon.gif">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <div class="clouds"></div>
        <div class="container">
            <div class="main_window"> 
                <div class="banner">
                    <img alt="izz.nekoweb.org logo" src="/img/logo.png">
                </div>
                <div class="main-content">
                    {{ content | safe }}
                </div>
                <div class="sidebar-left">
                    <h3 class="header">> explore</h3><br> 
                    <button onclick="location.href='/'" type="button">home</button>
                    <button onclick="location.href='/404'" type="button">portfolio</button>
                    <button onclick="location.href='/posts'" type="button">blog</button>
                    <button onclick="location.href='/feed.xml'" type="button">rss</button>
                </div>
                <div class="buttons">
                    <a href="https://nekoweb.org/"><img alt="nekoweb" src="https://nekoweb.org/assets/buttons/button1.gif"></a>
                    <a href="https://izz.int.moe"><img alt="izzint" src="https://izz.nekoweb.org/img/button.png"></a>
                </div>
                <div class="listening-to" id="listening-to"></div>
            </div>
        </div>
        <script src="/js/lastfm.js" async></script>
    </body>
</html>
