<!DOCTYPE html>
<html lang="en-CA">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>izz - {{ title }}</title>

        <!-- opengraph -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title }}">
        
        {%- if not description -%}
        <meta property="og:description" content="{{post.content | striptags | enshorten}}">
        {%- else -%}
        <meta property="og:description" content="{{ description }}">
        {%- endif -%}

        <meta property="og:url" content="https://izz.int.moe/">
        <meta property="og:image" content="/img/favicon.gif">
        <meta property="og:site_name" content="izz">
        <!-- opengraph -->

        <link rel="icon" type="image/gif" href="/img/favicon.gif">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <div class="clouds" aria-hidden="true"></div>
        <div class="container">
            <div class="main_window"> 
                <header class="banner">
                    <img alt="izz.int.moe logo" src="/img/logo.png">
                </header>
                <main class="main-content">
                    {{ content | safe }}
                </main>
                <nav class="sidebar-left">
                    <h3 class="header">> explore</h3><br> 
                    <button onclick="location.href='/'" type="button">home</button>
                    <button onclick="location.href='/posts'" type="button">blog</button>
                    <button onclick="location.href='/rss.xml'" type="button">feed</button>
                </nav>
            </div>
        </div>
    </body>
</html>
