---
layout: layouts/base.njk
date: git Last Modified
---
{% set previousPost = collections.posts | getPreviousCollectionItem %}
{% set nextPost = collections.posts | getNextCollectionItem %}

<h3>{{title}}</h3>
<h4>{{ page.date | shortDate }}</h4>
<hr>
{{content | safe}}
<hr>

{% if previousPost %}<a href="{{ previousPost.url }}">◄ last</a>{% endif %}
<a href="/posts">⌂ home</a>
{% if nextPost %}<a href="{{ nextPost.url }}">next ►</a>{% endif %}