---
layout: layouts/base.njk
date: git Created
---
{% set previousPost = collections.posts | getPreviousCollectionItem %}
{% set nextPost = collections.posts | getNextCollectionItem %}

<h3 class="header">{{title}} - <small>{{ page.date | bigAssDate }}</small></h3><br>

{{content | safe}}
<hr>

{% if previousPost %}<a href="{{ previousPost.url }}">◄ last</a>{% endif %}
<a href="/posts">⌂ home</a>
{% if nextPost %}<a href="{{ nextPost.url }}">next ►</a>{% endif %}

{%- for tag in tags -%}
<small><a href="/tags/{{ tag }}"> {{ tag }}</a></small>
{%- endfor -%}
