/* Elements */

:root {
    --content-bg-color: rgb(62, 54, 66);
}

html {
	box-sizing: border-box;
    image-rendering: pixelated;
}

body {
	font-family: 'MS UI Gothic', Arial, Helvetica, sans-serif;
	background: url('/img/backbackground.png');
    background-size: 128px;
	color: white;
	text-shadow: 1px 1px rgb(0, 0, 0);
    animation: bg_scroll 60s linear infinite;
}

button {
    background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    width: 100%;
	font-family: 'MS UI Gothic', Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
    transition: 0.3s;
}

button:hover:active {
    transition: 0.1s ease-out;
    background: linear-gradient(to bottom, #5c5c5c 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#616161 100%);
    box-shadow: inset 0px 0px 5px #424458;
}

button:hover {
    box-shadow: #29b8e5 0px 0px 5px;
    background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
}

.sidebar-left button:hover {
    transition: 0.3s ease-out;
    transition: background-color 1s ease-in-out;
    transform: scale3d(1.1, 1.1, 0.3);
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: #29b8e5 0px 0px 5px;
    background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
}

/* Classes */

.container {
	width: 60em;
	height: 95vh;
	margin: auto;
	padding: 5px;
}

.main_window {
	background: linear-gradient(#644a4a93, rgba(2, 2, 2, 0.342)), url('/img/header-bg.png');
	box-shadow:
		inset 5px 5px 25px rgb(0, 0, 0),
		inset 5px -5px 15px rgb(0, 0, 0),
		inset 5px 5px 15px rgba(255, 255, 255, 0.548),
        0px 0px 25px rgb(0, 0, 0);
    border-width: 10px;
    border-style: groove;
    border-image: linear-gradient(#3b3333, #080808) 27;
    padding: 25px;
    display: grid; 
    grid-template-columns: 1fr 3.5fr 1fr; 
    grid-template-rows: 1fr 1fr 1.5fr 37px 0.3fr; 
    gap: 10px 10px; 
    grid-template-areas: 
      "banner banner banner"
      "sidebar-left main-content listening-to"
      "sidebar-left main-content sidebar-right"
      "buttons buttons buttons"
      "footer footer footer"; 
}

.vistor_counter {
    font-family: 'LED';
    background-color: black;
    font-size: larger;
}

.goodie {
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%);
    border: groove 2px rgb(95, 95, 95);
    border-radius: 10px;
    box-shadow: 3px 3px 5px #080808;
}

.goodie img {
    margin-right: auto;
    height: 10em;
}

.banner {
	grid-area: banner;
    padding: 10px;
    background-image: url('/img/banner-bg.png');
    background-position: center;
    background-size: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow:  3px 3px 5px #080808;
}

.banner img {
    margin-top: 15px;
    margin-left: 5px;
}

.main-content {
	grid-area: main-content;
    padding: 10px;
    border: double 3px rgb(95, 95, 95);
    border-radius: 5px;
    background-color: var(--content-bg-color);
    box-shadow:  3px 3px 5px #080808;
}

.sidebar-left {
	grid-area: sidebar-left;
    padding: 10px;
    border: double 3px rgb(95, 95, 95);
    border-radius: 5px;
    background-color: var(--content-bg-color);
    box-shadow:  3px 3px 5px #080808;
}

.listening-to {
    grid-area: listening-to;
    min-width: 174px;
    min-height: 196.4px;
    font-family: 'LED', 'Courier New', Courier, monospace;
    color: orchid;
    background-color: black;
    text-shadow: 2px 2px black;
    box-shadow:  3px 3px 5px #080808;
    border-radius: 5px;
    background: black linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(255, 255, 255, 0.493) 41%, rgba(0,212,255,0) 100%);
}

.listening-to img {
    width: 100%;
}

.sidebar-right {
	grid-area: sidebar-right;
    padding: 10px;
    border: double 3px rgb(95, 95, 95);
    border-radius: 5px;
    background-color: var(--content-bg-color);
    box-shadow:  3px 3px 5px #080808;
}

.buttons {
    grid-area: buttons;
    border: double 3px rgb(95, 95, 95);
    border-radius: 5px;
    background-color: var(--content-bg-color);
    box-shadow:  3px 3px 5px #080808;
}

.footer { 
    grid-area: footer; 
    padding: 10px;
    background-image: url('/img/mainbg.png');
    background-size: 64px;
	border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow:  3px 3px 5px #080808;
}

/* Misc */

#statuscafe {
    padding: .5em;
    background-color: rgb(58, 70, 70);
    border: 1px solid midnightblue;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

/* Fonts */

@font-face {
	font-family: 'Grotesk';
	src: url('/fonts/grotesk.ttf');
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Narrow';
	src: url('/fonts/narrow.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'LED';
    src: url('/fonts/led.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Comic Pixel';
    src: url('/fonts/comic-pixel.ttf');
    font-display: swap;
}

/* Animations */

@keyframes spin {
    100% {transform: rotate(360deg);}
}

@keyframes bg_scroll {
    100% {background-position: 100%;}
}
