---
title: about me
layout: layouts/base.njk
date: git Last Modified
---
<h3 class="header">> about me </h3>
<ul>
    <li>hobbies</li>
    <ul>
        <li>
            i enjoy game development and messing with modding tools (maybe even making them :p) i self publish games i work on with a
            <a href="https://duskewl.neocities.org/">friend</a> under the <a href="https://checkcable.net/">checkcable interactive</a> 
            label, but im planning on making my own stuff soon :D </li>
        <li>
            lil' list of AWESOME stuff i've worked on
            <ul>
                <li>test</li>
                <li><a href=/art>more...</a></li>
            </ul>
        </li>
    </ul>
</ul>