---
permalink: /rss.xml
date: git Last Modified
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>izz.int.moe</title>
        <link>https://izz.int.moe/</link>
        <description>the blue canary</description>
        <language>en-ca</language>
        <managingEditor>izz@int.moe</managingEditor>
        <webMaster>izz@int.moe</webMaster>
        <copyright>izzint</copyright>
        <lastBuildDate>{{ page.date | rssDate }}</lastBuildDate>
        {%- for post in collections.posts -%}
        <item>
            <title>{{ post.data.title }}</title>
            <link>https://izz.int.moe{{ post.url }}</link>
            <description>{{post.content | striptags | enshorten}}...</description>
        </item>
        {%- endfor -%}
    </channel>
</rss>