---
permalink: /index.html
title: home
layout: layouts/base.njk
date: git Last Modified
---
<div class="fancy-bg"></div><br>


<h3 class="header">> whats new?</h3><br>

<fieldset style="border: solid 1px #5f5f5f;">
{% set latestPost = collections.posts[0] %}
<legend><a href="{{ latestPost.url }}">{{ latestPost.data.title }}</a> - {{ latestPost.date | shortDate }}</legend>
{{ latestPost.data.description }}
</fieldset>