---
permalink: /index.html
title: home
layout: layouts/base.njk
date: git Last Modified
---
<div class="fancy-bg"></div><br>

<h3 class="header">> whats new?</h3><br>

{% set latestPost = collections.posts[0] %}
<a href="{{ latestPost.url }}">{{ latestPost.data.title }}</a> - {{ latestPost.date | shortDate }}<hr>
{{ latestPost.content | safe }}<br>